.DS_Store

node_modules

credentials.json
credentials-token.json

*-credentials.json
*-credentials-token.json

coverage

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc
